---
services:
#
  portainer:
    image: portainer/portainer-ee:latest # portainer/portainer-ee:alpine-sts / portainer/portainer-ee:sts
    container_name: portainer
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${LOCVOL1}portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 9443:9443
    restart: unless-stopped
#
networks:
  default:
    name: ${CONNET}
    external: true
